In [1]:
#svm
#libs
import pandas as pd
import numpy as np

# machine learning
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
#svm
df=pd.read_csv("clean_titanic_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Sex          891 non-null    int64
 3   Age          891 non-null    float64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
 7   Embarked     891 non-null    int64
 8   Survived     891 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 62.8 KB

In [3]:
df.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Survived
0            1       3    0  22.0      1      0   7.2500         0         0
1            2       1    1  38.0      1      0  71.2833         1         1
2            3       3    1  26.0      0      0   7.9250         0         1
3            4       1    1  35.0      1      0  53.1000         0         1
4            5       3    0  35.0      0      0   8.0500         0         0

In [4]:
y = df['Survived'] # small y is label so for training datawe have to separate feture and lael dataset
X = df.drop(['Survived'], axis=1) # we are droping Survived colum as it not that important
# Also drop PassengerId 
X = df.drop(['PassengerId'], axis=1)
print(X.shape)
print(y.shape)
print(X.info())

(891, 8)
(891,)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    int64
 7   Survived  891 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB
None

In [5]:
#
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [6]:
print(X_train.shape,X_test.shape)
print(y_train.shape,y_test.shape)

(623, 8) (268, 8)
(623,) (268,)

In [7]:
from sklearn import svm
model =svm.SVC(kernel='rbf',gamma='auto')#svm kernl = rbf
#print(model)
model.fit(X_train, y_train) # fit means we are training the model so we have to give input and output
print("model done")

model done

In [8]:
#Predict
y_pred = model.predict(X_test)
print("Test score:{:.6f}".format(np.mean(y_pred==y_test))) # we comparing y_test and y_pred
print("Prediction Done")

Test score:0.832090
Prediction Done

In [9]:
#Evalaution
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
from sklearn.metrics import accuracy_score
accur=accuracy_score(y_test, y_pred)
print("Test Accuracy:{:.6f}".format(accur))

[[156  12]
 [ 33  67]]
Test Accuracy:0.832090

In [10]:
# only changing rbf to linear kernal
from sklearn import svm
model =svm.SVC(kernel='linear',gamma='auto')#svm kernl = linera. when we change the kernal type, accuracy is increased
#print(model)
model.fit(X_train, y_train) # fit means we are training the model so we have to give input and output
print("model done")

model done

In [11]:
#Predict
y_pred = model.predict(X_test)
print("Test score:{:.6f}".format(np.mean(y_pred==y_test))) # we comparing y_test and y_pred
print("Prediction Done")

Test score:1.000000
Prediction Done